<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Application</title>
    <link rel="stylesheet" href="./static/styles/blogs.css">
    <link rel="stylesheet" href="./static/styles/main.css">
</head>
<body>
    <header>
        <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="/blogs">Blogs</a>
            </li>
            
          </ul>
    </header>
    <main>
        {% block content %} {% endblock %}

    </main>
    <footer>
        <p>Coyright &copy; 2025 </p>
      <small>This is all about the 67 cat breeds</small>

    </footer>
</body>
</html>